/*MEDIA-QUERIES*/


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  /*INDEX*/

  .mmenu-btn__autorisation {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 77px !important;
    padding-right: 80px !important;
  }

  .mmenu-btn__order--call {
    padding: 20px 65px !important;
    margin-left: 15px !important;
  }

  .author-svg {
    top: 18px;
    position: absolute;
    left: 52px;
  }

  .contacts{
    display: none;
  }
  .schedule{
    display: none;
  }

  .top-header__btn--red{
    display: none;
  }

  .top-header__btn--transparent{
    display: none;
  }

  .main-nav ul{
    display: none;
  }

  .logo-block {
    margin-left: 0px;
    width: 124px;
    margin-top: 19px;
    margin-bottom: 13px;
  }

  .hamburger{
    position: absolute;
    display: block;
    top: -63px;
    right: 12px;
    border-radius: 3px;
    background-color: #a02d25;
    border: solid 3px #ba352b;
    padding: 4px 6px;
  }

  .hamburger--elastic.is-active .hamburger-inner{
    top: 12px;
  }

  .hamburger--elastic.is-active .hamburger-inner::after{
    top: 19px;
  }

  .hamburger-box {
    width: 42px;
    height: 28px;
    display: inline-block;
    position: relative;
  }

  .hamburger--elastic .hamburger-inner{
    top: 5px;
  }

  .hamburger--elastic .hamburger-inner::before{
    top: 11px;
  }

  .hamburger--elastic .hamburger-inner::after{
    top: 23px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #fff;
    border-radius: 0px;
    height: 2px;
    width: 41px;
  }

  .search{
    flex-basis: 100%;
    margin-right: 19px;
    margin-top: 7px;
    margin-left: 20px;
    margin-bottom: 7px;
  }

  .search form button {
    height: 24px;
    width: 22px;
    position: absolute;
    top: 8px;
    right: 9px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search form input{
    height: 41px;
    padding-left: 19px;
    font-size: 14px;
    color: #707070;
  }

  .search-input::-webkit-input-placeholder {color: #707070!important; font-size: 14px!important;}/* webkit */
  .search-input::-moz-placeholder          {color: #707070!important; font-size: 14px!important;}/* Firefox 19+ */
  .search-input:-moz-placeholder           {color: #707070!important; font-size: 14px!important;}/* Firefox 18- */
  .search-input:-ms-input-placeholder      {color: #707070!important; font-size: 14px!important;}/* IE */


  /*INDEX-MAIN*/
  .top-index__section{
    display: none;
  }

  .top-index-mobile{
    display: block;
    background-color: #ebebeb;
  }



  .bottom-index__section{
  }

  .descr-block {
    display: flex;
    position: relative;
    margin-top: 35px;
    text-align: center;
    border-right: 4px solid #ba352b;
    border-left: 4px solid #ba352b;
    height: 76px;
    align-items: center;
    h3{
      line-height: normal;
      font-size: 14px;
      margin: 0 auto;
    }
  }

  .about-us-block {
    margin-top: 31px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
  }

  .top-index-mobile-section{
    background-color: #ebebeb;
    h1{
      text-align: center;
      margin-top: 61px;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #a02d25;
      span{
        display: block;
        font-size: 42px;
        line-height: 1.17;
        color: #444444;
        margin-top: -6px;
      }
    }
  }

  .about-us-block h3{
    margin-bottom: 1px;
  }

  .about-us-block p{
    margin-bottom: 22px;
  }

  .bottom-index__section{
    padding-bottom: 35px;
  }

  #parallelogram4 {
    left: 42%;
    position: absolute;
    width: 177px;
    height: 39px;
    background-color: #a02d25;
  }

  #parallelogram3 {
    z-index: 1;
    position: absolute;
    width: 120px;
    height: 27px;
    background-color: #333333;
    margin-top: 0px;
    left: 50%;
  }

  #parallelogram2{
    margin-left: 0%;
    margin-top: -67px;
    width: 281px;
    h2{
    transform: skew(7deg);
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 49px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    }
  }
  #parallelogram1{
    margin-top: 34px;
    margin-left: 2%;
    width: 285px;
  }

  #parallelogram5 {

    bottom: 0px;
    left: 74px;
    position: absolute;
    width: 68px;
    height: 38px;
    background-color: #a02d25;
  }
  #parallelogram6 {
    z-index: 1;
    left: 101px;
    position: absolute;
    width: 48px;
    height: 24px;
    background-color: #333333;
    bottom: 0px;
  }

  .parallelograms-div1{
    margin: 0 auto;
    width: 286px;
  }

  .img-index-div{
    width: 286px;
    margin: 0 auto;
    img{
      margin-top: 28px;
      display: block;
      width: 100%;
    }
  }

  .top-index__section-h3--bottom-left{
    margin-left: 19px;
    margin-top: 10px;
    font-size: 13px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 101%;
      top: 25.6%;
      margin-top: -4px;
      width: 13.6px;
      height: 13.6px;
      background: #cc2729;
    }
  }

  .top-index__section-h3--bottom-left::after {
    content: '';
    position: absolute;
    right: 102%;
    top: 42%;
    width: 100vw;
    height: 1px;
    background: #cc2729;
  }

  .top-index__section-h3--bottom-left-black{
    margin-left: 19px;
    margin-top: 10px;
    font-size: 13px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 101%;
      top: 25.6%;
      margin-top: -4px;
      width: 13.6px;
      height: 13.6px;
      background: #333;
    }
  }

  .top-index__section-h3--bottom-left-black::after {
    content: '';
    position: absolute;
    right: 102%;
    top: 42%;
    width: 100vw;
    height: 1px;
    background: #333;
  }

  .parallelograms-div2{
    width: 286px;
    margin: 0 auto;
    position: relative;
    margin-top: 78px;
  }

  .micro-headers{
    width: 286px;
    margin: 0 auto;
  }



  /*!INDEX-MAIN*/





  .logo-block--footer {
    position: relative;
    width: 65px;
    margin-top: -2px;
    margin-left: 0px;
  }

  .footer__item--description {
    display: block;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.23;
    letter-spacing: -1px;
    text-align: left;
    color: #818179;
    margin-top: 0px;
  }

  .logo-block--footer span {
    position: absolute;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
    top: 34px;
  }

  .footer-lists{
    margin-top: 34px;
  }

  .footer-lists ul li{
    font-size: 12px;
    margin-bottom: 17px;
  }

  .footer-contacts {
    margin-top: 22px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
    margin-left: 0px;
    span{
      font-size: 11px;
      margin-top: 9px;
    }
  }

  .footer-schedule{
    margin-top: 2px;
    font-size: 12px;;
    margin-left: 0px;
    span{
      font-size: 11px;
      margin-top: 6px;
    }
  }
  /*!INDEX*/

  /*CLIENTS*/

  .breadcrumbs-list {
    margin-left: 0px;
    list-style: none;
    padding: 0px;
    margin-top: 4px;
  }

  .page-tittle{
    margin-left: 0px;
    margin-top: 11px;
  }

  .tabs-flex{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .gray-section{
    height: 100%;
  }

  .gray-section--clients{
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .gray-section--clients a{
    margin-right: 0px;
    margin-bottom: 15px
  }

  .delivery h2 {
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-bottom: 11px;
  }

  .autorisation-block .auto-form{
    padding-left: 20px;
    padding-right: 20px;
  }

  .delivery{
    margin-bottom: 38px;
  }

  .terms-of-cooperation h2 {
    margin-bottom: 11px;
    margin-top: -3px;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .terms-of-cooperation h3 {
    margin-top: 16px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .terms-of-cooperation p{
    margin-top: 9px;
    font-size: 14px;
  }

  .terms-of-cooperation h2{
    text-align: left;
  }

  terms-of-cooperation--bottom__h2{
    text-align: center;
  }

  .terms-of-cooperation--bottom__flex{
    flex-wrap: wrap;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item{
    flex-basis: 100%;
    margin-left: 0px!important;
    margin-top: 0px;
    margin-bottom: 55px;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item h2{
    font-size: 16px;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item ul{
    font-size: 14px;
  }

  .terms-of-cooperation--bottom__h2{
    text-align: center!important;
  }

  .gray-section--clients{
    width: 100%;
    height: 216px;
    background-color: #f9f9f9;
    margin-bottom: 46px;
  }

  /*!CLIENTS*/

  /*BRANDS-INDEX*/

  .brand-logo-margin{
    margin-left: 21%;
  }

  .brand-description-block p{
    margin-bottom: 29px;
  }

  .brand-logo-padding-bottom{
    padding-bottom: 3px;
  }

  /*!BRANDS-INDEX*/

  /*AUTORISATION*/

  .autorisation-block .autorisation-social{
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 0px;
  }

  .autorisation-block .autorisation-social .autorisation-social--item{
    margin-bottom: 20px;
  }

  .autorisation-page-tittle{
    margin-left: 6px;
    margin-top: 17px;
  }

  .autorisation-block h3{
    margin-top: 5px;
  }

  .proposal-for-registration{
    flex-direction: column;
  }

  .proposal-for-registration{
    margin-bottom: 38px;
  }

  .autorisation-page-tittle:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 58px;
    background-color: #e1e1e1;
    bottom: -27px;
    transform: translate(50%, 0);
    right: 50%;
  }

  /*!AUTORISATION*/

  /*PRODUCT-INDEX*/

  .sliders{
    flex-direction: column;
    margin-top: 40px;
  }

  .sliders .slider-for {
    height: 98.7%;
    margin-left: 0px;
    margin-bottom: 23px;
    width: 100%;
    padding: 39px 15px;
    border: 1px solid #ba352b;
  }

  .sliders .slider-nav{
    width: 100%;
    height: 100%;
  }

  .sliders .slider-nav .slick-slide{
    width: 46% !important;
    margin-right: 7.3%;
    margin-bottom: 19px;
    &:nth-child(even){
      margin-right: 0px;
    }
  }

  .characteristics{
    margin-left: 0px;
    margin-top: 0px;
    transition: translate(0%, 0%)!important;
    padding-top: 26px;
    padding-left: 18px;
    padding-right: 25px;
    padding-bottom: 21px;
  }

  .product-descr-text {
    margin-top: 24px;
    margin-bottom: 14px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .download-catalog-product{
    margin-left: 0px;
  }

  .back-button-col {
    margin-bottom: 24px;
    margin-top: 14px;
    text-align: center;
    padding-top: 8px;
  }

  /*!PRODUCT-INDEX*/

  /*CATALOG*/

  .search-result__block{
    display: none;
  }
  .search-result-slider{
    display: block;
    margin-top: 52px;
  }

  .search-result-slider{
    width: 270px;
  }

  .search-result-slider .search-result__item{
    margin-right: 0px;
  }

  /*!CATALOG*/

  /*NEWS*/

  .news-block{
    display: none;
  }

  .news-block-slider{
    display: block;
  }

  .news-block-slider{
    width: 275px;
    margin: 0 auto;
    .news-item{
      position: relative;
      margin-bottom: 17px;
      .news-item__text{
        margin-top: 25px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
      }
      span{
        margin-top: 23px;
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: #8d8d8d;
      }
      h3{
        top: 180px;
        position: absolute;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.19;
        letter-spacing: -1px;
        text-align: right;
        color: #a02d25;
        right: 0px;
      }
      img{
        display: inline-block;
        width: 100%;
      }
    }
  }

  .more-ads {
    text-align: center;
    margin-bottom: 13px;
  }

  .gray-section {
    width: 100%;
    height: 17px!important;
    background-color: #f9f9f9;
    margin-bottom: 25px;
  }

  /*!NEWS*/


  /*ABOUT*/

  .item-great-tittle {
    margin-bottom: 30px;
    margin-left: -7px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-top: 3px;
  }

  .advantages .advantages-item{
    flex-basis: 100%;
    margin-bottom: 16px;
    br{
      display: block;
    }
  }

  .adv-item-tittle{
    margin-left: 0px;
    margin-top: 26px;
  }

  .advantages .advantages-item .adv-item-content{
    margin-left: 0px;
    margin-top: 9px;
  }

  .advantages .advantages-item:nth-child(odd){
    margin-right: 0px;
  }

  .adv-item-content--list {
    list-style: none;
    margin-left: 0px;
    margin-top: 4px;
  }

  .advantages .advantages-item:nth-child(4){
    margin-bottom: 0px;
  }

  .managment{
    display: none;
  }

  .managment-slider{
    display: block;
  }

  .managment-slider .managment-item span{
    margin-top: 14px;
    br{
      display: none;
    }
  }


  /*!ABOUT*/

  /*CONTACTS*/

  .staff{
    display: none;
  }

  .staff-slider{
    display: block;
  }

  .staff-slider .staff-item{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 100%;
  }

  .staff-slider .staff-item h2 {
    margin-top: 12px;
    font-size: 13px;
  }

  .staff-slider .staff-item img {
    position: initial;
    top: 47px;
    left: 10px;
    width: 35%;
  }

  .staff-slider .staff-item h3 {
    margin-bottom: 3%;
    margin-top: 8%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .staff-slider .staff-item ul {
    margin-top: 4%;
    list-style: none;
    padding-left: 0px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .staff-flex{
    display: flex;
    margin-bottom: 12px;
  }
  .staff-descr-flex{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
  }

  .staff-slider .staff-item img {
    position: initial;
    top: 47px;
    left: 10px;
    width: 37%;
    height: 100%;
    margin-top: 11px;
  }

  .staff-form-col{
    margin-left: 0px;
  }

  .staff-form form input[type="text"]{
    width: 100%;
  }

  .staff-form form input[type="tel"]{
    width: 100%;
  }

  .staff-form form .great-staff-message{
    width: 100%;
    position: initial;
    margin-top: 19px;
  }

  .staff-form form .small-staff-message{
    margin-bottom: 19px!important;
  }

  /*!CONTACTS*/

  /*BRANDS*/

  .brands-wrapper{
    display: none;
  }

  .brands-adaptive-slider{
    display: block;
    margin: 0 auto;
    width: 160px;
    .slick-dots{
      bottom: -25px;
    }
  }

  .brands-row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .brands-flex-col{
    padding-left: 0px;
    padding-right: 0px;
  }

  .brand-block-text{
    padding-right: 30px;
    padding-left: 30px;
  }

  /*!BRANDS*/



}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  /*INDEX*/

  .mmenu-btn__autorisation {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 77px !important;
    padding-right: 80px !important;
  }

  .mmenu-btn__order--call {
    padding: 20px 65px !important;
    margin-left: 15px !important;
  }

  .author-svg {
    top: 18px;
    position: absolute;
    left: 52px;
  }

  .contacts{
    display: none;
  }
  .schedule{
    display: none;
  }

  .top-header__btn--red{
    display: none;
  }

  .top-header__btn--transparent{
    display: none;
  }

  .main-nav ul{
    display: none;
  }

  .logo-block {
    margin-left: 0px;
    width: 124px;
    margin-top: 19px;
    margin-bottom: 13px;
  }

  .hamburger{
    position: absolute;
    display: block;
    top: -63px;
    right: 12px;
    border-radius: 3px;
    background-color: #a02d25;
    border: solid 3px #ba352b;
    padding: 4px 6px;
  }

  .hamburger--elastic.is-active .hamburger-inner{
    top: 12px;
  }

  .hamburger--elastic.is-active .hamburger-inner::after{
    top: 19px;
  }

  .hamburger-box {
    width: 42px;
    height: 28px;
    display: inline-block;
    position: relative;
  }

  .hamburger--elastic .hamburger-inner{
    top: 5px;
  }

  .hamburger--elastic .hamburger-inner::before{
    top: 11px;
  }

  .hamburger--elastic .hamburger-inner::after{
    top: 23px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #fff;
    border-radius: 0px;
    height: 2px;
    width: 41px;
  }

  .search{
    flex-basis: 100%;
    margin-right: 19px;
    margin-top: 7px;
    margin-left: 20px;
    margin-bottom: 7px;
  }

  .search form button {
    height: 24px;
    width: 22px;
    position: absolute;
    top: 8px;
    right: 9px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search form input{
    height: 41px;
    padding-left: 19px;
    font-size: 14px;
    color: #707070;
  }

  .search-input::-webkit-input-placeholder {color: #707070!important; font-size: 14px!important;}/* webkit */
  .search-input::-moz-placeholder          {color: #707070!important; font-size: 14px!important;}/* Firefox 19+ */
  .search-input:-moz-placeholder           {color: #707070!important; font-size: 14px!important;}/* Firefox 18- */
  .search-input:-ms-input-placeholder      {color: #707070!important; font-size: 14px!important;}/* IE */


  /*INDEX-MAIN*/
  .top-index__section{
    display: none;
  }

  .top-index-mobile{
    display: block;
    background-color: #ebebeb;
  }



  .bottom-index__section{
  }

  .descr-block {
    display: flex;
    position: relative;
    margin-top: 35px;
    text-align: center;
    border-right: 4px solid #ba352b;
    border-left: 4px solid #ba352b;
    height: 76px;
    align-items: center;
    h3{
      line-height: normal;
      font-size: 14px;
      margin: 0 auto;
    }
  }

  .about-us-block {
    margin-top: 31px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
  }

  .top-index-mobile-section{
    background-color: #ebebeb;
    h1{
      text-align: center;
      margin-top: 61px;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #a02d25;
      span{
        display: block;
        font-size: 42px;
        line-height: 1.17;
        color: #444444;
        margin-top: -6px;
      }
    }
  }

  .about-us-block h3{
    margin-bottom: 1px;
  }

  .about-us-block p{
    margin-bottom: 22px;
  }

  .bottom-index__section{
    padding-bottom: 35px;
  }

  #parallelogram4 {
    left: 42%;
    position: absolute;
    width: 177px;
    height: 39px;
    background-color: #a02d25;
  }

  #parallelogram3 {
    z-index: 1;
    position: absolute;
    width: 120px;
    height: 27px;
    background-color: #333333;
    margin-top: 0px;
    left: 50%;
  }

  #parallelogram2{
    margin-left: 0%;
    margin-top: -67px;
    width: 281px;
    h2{
      transform: skew(7deg);
      font-family: Roboto;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 49px;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }
  #parallelogram1{
    margin-top: 34px;
    margin-left: 2%;
    width: 285px;
  }

  #parallelogram5 {

    bottom: 0px;
    left: 74px;
    position: absolute;
    width: 68px;
    height: 38px;
    background-color: #a02d25;
  }
  #parallelogram6 {
    z-index: 1;
    left: 101px;
    position: absolute;
    width: 48px;
    height: 24px;
    background-color: #333333;
    bottom: 0px;
  }

  .parallelograms-div1{
    margin: 0 auto;
    width: 286px;
  }

  .img-index-div{
    width: 286px;
    margin: 0 auto;
    img{
      margin-top: 28px;
      display: block;
      width: 100%;
    }
  }

  .top-index__section-h3--bottom-left{
    margin-left: 19px;
    margin-top: 10px;
    font-size: 13px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 101%;
      top: 25.6%;
      margin-top: -4px;
      width: 13.6px;
      height: 13.6px;
      background: #cc2729;
    }
  }

  .top-index__section-h3--bottom-left::after {
    content: '';
    position: absolute;
    right: 102%;
    top: 42%;
    width: 100vw;
    height: 1px;
    background: #cc2729;
  }

  .top-index__section-h3--bottom-left-black{
    margin-left: 19px;
    margin-top: 10px;
    font-size: 13px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: 101%;
      top: 25.6%;
      margin-top: -4px;
      width: 13.6px;
      height: 13.6px;
      background: #333;
    }
  }

  .top-index__section-h3--bottom-left-black::after {
    content: '';
    position: absolute;
    right: 102%;
    top: 42%;
    width: 100vw;
    height: 1px;
    background: #333;
  }

  .parallelograms-div2{
    width: 286px;
    margin: 0 auto;
    position: relative;
    margin-top: 78px;
  }

  .micro-headers{
    width: 286px;
    margin: 0 auto;
  }



  /*!INDEX-MAIN*/





  .logo-block--footer {
    position: relative;
    width: 65px;
    margin-top: -2px;
    margin-left: 0px;
  }

  .footer__item--description {
    display: block;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.23;
    letter-spacing: -1px;
    text-align: left;
    color: #818179;
    margin-top: 0px;
  }

  .logo-block--footer span {
    position: absolute;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
    top: 34px;
  }

  .footer-lists{
    margin-top: 34px;
  }

  .footer-lists ul li{
    font-size: 12px;
    margin-bottom: 17px;
  }

  .footer-contacts {
    margin-top: 22px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #818179;
    margin-left: 0px;
    span{
      font-size: 11px;
      margin-top: 9px;
    }
  }

  .footer-schedule{
    margin-top: 2px;
    font-size: 12px;;
    margin-left: 0px;
    span{
      font-size: 11px;
      margin-top: 6px;
    }
  }
  /*!INDEX*/

  /*CLIENTS*/

  .breadcrumbs-list {
    margin-left: 0px;
    list-style: none;
    padding: 0px;
    margin-top: 4px;
  }

  .page-tittle{
    margin-left: 0px;
    margin-top: 11px;
  }

  .tabs-flex{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .gray-section{
    height: 100%;
  }

  .gray-section--clients{
    padding-top: 12px;
    padding-bottom: 0px;
  }

  .gray-section--clients a{
    margin-right: 0px;
    margin-bottom: 15px
  }

  .delivery h2 {
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-bottom: 11px;
  }

  .autorisation-block .auto-form{
    padding-left: 20px;
    padding-right: 20px;
  }

  .delivery{
    margin-bottom: 38px;
  }

  .terms-of-cooperation h2 {
    margin-bottom: 11px;
    margin-top: -3px;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .terms-of-cooperation h3 {
    margin-top: 16px;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .terms-of-cooperation p{
    margin-top: 9px;
    font-size: 14px;
  }

  .terms-of-cooperation h2{
    text-align: left;
  }

  terms-of-cooperation--bottom__h2{
    text-align: center;
  }

  .terms-of-cooperation--bottom__flex{
    flex-wrap: wrap;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item{
    flex-basis: 100%;
    margin-left: 0px!important;
    margin-top: 0px;
    margin-bottom: 55px;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item h2{
    font-size: 16px;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item ul{
    font-size: 14px;
  }

  .terms-of-cooperation--bottom__h2{
    text-align: center!important;
  }

  .gray-section--clients{
    width: 100%;
    height: 216px;
    background-color: #f9f9f9;
    margin-bottom: 46px;
  }

  /*!CLIENTS*/

  /*BRANDS-INDEX*/

  .brand-logo-margin{
    margin-left: 21%;
  }

  .brand-description-block p{
    margin-bottom: 29px;
  }

  .brand-logo-padding-bottom{
    padding-bottom: 3px;
  }



  /*!BRANDS-INDEX*/

  /*AUTORISATION*/

  .autorisation-block .autorisation-social{
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 0px;
  }

  .autorisation-block .autorisation-social .autorisation-social--item{
    margin-bottom: 20px;
  }

  .autorisation-page-tittle{
    margin-left: 6px;
    margin-top: 17px;
  }

  .autorisation-block h3{
    margin-top: 5px;
  }

  .proposal-for-registration{
    flex-direction: column;
  }

  .proposal-for-registration{
    margin-bottom: 38px;
  }

  .autorisation-page-tittle:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 58px;
    background-color: #e1e1e1;
    bottom: -27px;
    transform: translate(50%, 0);
    right: 50%;
  }

  /*!AUTORISATION*/

  /*PRODUCT-INDEX*/

  .sliders{
    flex-direction: column;
    margin-top: 40px;
  }

  .sliders .slider-for {
    height: 98.7%;
    margin-left: 0px;
    margin-bottom: 23px;
    width: 100%;
    padding: 39px 15px;
    border: 1px solid #ba352b;
  }

  .sliders .slider-nav{
    width: 100%;
    height: 100%;
  }

  .sliders .slider-nav .slick-slide{
    width: 46% !important;
    margin-right: 7.3%;
    margin-bottom: 19px;
    &:nth-child(even){
      margin-right: 0px;
    }
  }

  .characteristics{
    margin-left: 0px;
    margin-top: 0px;
    transition: translate(0%, 0%)!important;
    padding-top: 26px;
    padding-left: 18px;
    padding-right: 25px;
    padding-bottom: 21px;
  }

  .product-descr-text {
    margin-top: 24px;
    margin-bottom: 14px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .download-catalog-product{
    margin-left: 0px;
  }

  .back-button-col {
    margin-bottom: 24px;
    margin-top: 14px;
    text-align: center;
    padding-top: 8px;
  }

  /*!PRODUCT-INDEX*/

  /*CATALOG*/

  .search-result__block{
    display: none;
  }
  .search-result-slider{
    display: block;
    margin-top: 52px;
  }

  .search-result-slider{
    width: 270px;
  }

  .search-result-slider .search-result__item{
    margin-right: 0px;
  }

  .gray-section--serch{
    height: 17px!important;
  }

  /*!CATALOG*/

  /*NEWS*/

  .news-block{
    display: none;
  }

  .news-block-slider{
    display: block;
  }

  .news-block-slider{
    width: 275px;
    margin: 0 auto;
    .news-item{
      position: relative;
      margin-bottom: 17px;
      .news-item__text{
        margin-top: 25px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
      }
      span{
        margin-top: 23px;
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: #8d8d8d;
      }
      h3{
        top: 180px;
        position: absolute;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.19;
        letter-spacing: -1px;
        text-align: right;
        color: #a02d25;
        right: 0px;
      }
      img{
        display: inline-block;
        width: 100%;
      }
    }
  }

  .more-ads {
    text-align: center;
    margin-bottom: 13px;
  }

  .gray-section {
    width: 100%;
    height: 17px!important;
    background-color: #f9f9f9;
    margin-bottom: 25px;
  }

  /*!NEWS*/

  /*ABOUT*/

  .item-great-tittle {
    margin-bottom: 30px;
    margin-left: -7px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-top: 3px;
  }

  .advantages .advantages-item{
    flex-basis: 100%;
    margin-bottom: 16px;
    br{
      display: block;
    }
  }

  .adv-item-tittle{
    margin-left: 0px;
    margin-top: 26px;
  }

  .advantages .advantages-item .adv-item-content{
    margin-left: 0px;
    margin-top: 9px;
  }

  .advantages .advantages-item:nth-child(odd){
    margin-right: 0px;
  }

  .adv-item-content--list {
    list-style: none;
    margin-left: 0px;
    margin-top: 4px;
  }

  .advantages .advantages-item:nth-child(4){
    margin-bottom: 0px;
  }

  .managment{
    display: none;
  }

  .managment-slider{
    display: block;
  }

  .managment-slider .managment-item span{
    margin-top: 14px;
    br{
      display: none;
    }
  }


  /*!ABOUT*/


  /*CONTACTS*/

  .staff{
    display: none;
  }

  .staff-slider{
    display: block;
  }

  .staff-slider .staff-item{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 100%;
  }

  .staff-slider .staff-item h2 {
    margin-top: 12px;
    font-size: 13px;
  }

  .staff-slider .staff-item img {
    position: initial;
    top: 47px;
    left: 10px;
    width: 35%;
  }

  .staff-slider .staff-item h3 {
    margin-bottom: 3%;
    margin-top: 8%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .staff-slider .staff-item ul {
    margin-top: 4%;
    list-style: none;
    padding-left: 0px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .staff-flex{
    display: flex;
    margin-bottom: 12px;
  }
  .staff-descr-flex{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
  }

  .staff-slider .staff-item img {
    position: initial;
    top: 47px;
    left: 10px;
    width: 37%;
    height: 100%;
    margin-top: 11px;
  }

  /*!CONTACTS*/

  /*BRANDS*/

  .brands-wrapper{
    display: none;
  }

  .brands-adaptive-slider{
    display: block;
    margin: 0 auto;
    width: 160px;
    .slick-dots{
      bottom: -25px;
    }
  }

  .brands-row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .brands-flex-col{
    padding-left: 0px;
    padding-right: 0px;
  }

  .brand-block-text{
    padding-right: 30px;
    padding-left: 30px;
  }

  /*!BRANDS*/

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
/*INDEX*/
  .logo-block{
    width: 152px;
    margin-top: 23px;
  }

  .top-header__btn--red{
    display: none;
  }

  .top-header__btn--transparent{
    display: none;
  }

  .schedule {
    margin-top: 41px;
    margin-left: 131px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    span{
      margin-top: 7px;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: #444444;
    }
  }

  .col-md-dn{
    display: none;
  }

  .top-header {
    margin-bottom: 39px;
  }

  .adaptive-contacts{
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 31px;
    span{
      margin-top: 7px;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      display: block;
    }
  }

  .contacts{
    display: none;
  }

  .main-nav ul{
    display: none;
  }

  .hamburger{
    position: absolute;
    display: block;
    top: 37px;
    left: 49px;
    border-radius: 3px;
    background-color: #a02d25;
    border: solid 3px #ba352b;
    padding: 8px 12px;
  }

  .hamburger-box{
    height: 18px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: #fff;
    border-radius: 0px;
    height: 2px;
  }

  .search{
    margin-top: 8px;
    margin-bottom: 7px;
    flex-basis: 34%;
    margin-left: 0px;
  }

  .search form input{
    height: 50px;
    padding-left: 15px;
  }

  .search form button {
    top: 13px;
    right: 14px;
  }

  #parallelogram3{
    margin-left: -191px;
    width: 139px;
    height: 33px;
  }

  #parallelogram4 {
    left: -141px;
    width: 213px;
    height: 45px;
  }

  .top-index__section--img {
    left: 5px;
    position: absolute;
    width: 100%;
    top: 102px;
  }

  #parallelogram5 {
    bottom: -2px;
    left: 353px;
    width: 78px;
    height: 45px;
  }

  #parallelogram6 {
    left: 385px;
    width: 57px;
    height: 27px;
    bottom: -2px;
  }

  #parallelogram2{
    width: 358px;
    height: 57px;
    margin-left: -12px;
    margin-top: -68px;
  }

  #parallelogram1{
    width: 360px;
    height: 58px;
    margin-left: -3px;
    margin-top: 31px;
  }

  .top-index__section--left h2 {
    bottom: 142px;
    letter-spacing: 1px;
    left: 28px;
    font-size: 15px;
    z-index: 1;
    position: absolute;
    color: #fff;
  }

  .top-index__section-h3--top-right {
    top: 33px;
    right: -3px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .top-index__section--left h1 {
    margin-left: -17px;
    margin-top: 115px;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #a02d25;
    span{
      font-size: 50px;
    }
  }

  .top-index__section-h3--bottom-left {
    margin-bottom: 27px;
    margin-left: -18px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ba352b;
    margin-top: 86px;
  }

  .top-index__section-h3--bottom-left::before{
    top: 91.6%;
  }

  .top-index__section-h3--bottom-left::after{
    top: 92%;
  }

  .top-index__section-h3--bottom-right {
    bottom: 8px;
    right: -3px;
    font-size: 17px;
  }

  .bottom-index__section{
    background-color: #fff;
  }

  .row-md-flex{
    flex-direction: row-reverse;
  }

  .descr-block {
    display: flex;
    margin-top: 42px;
    height: 90px;
  }

  .descr-block h3{
    margin-top: 27px;
    line-height: 19px;
    font-size: 14px;
    }

  .about-us-block {
    margin-top: 39px;
    margin-left: 0px;
    font-size: 17px;
    h3{
      font-size: 17px;
      margin-bottom: 13px;
    }
  }

  .download-catalog{
    margin-top: 61px;
    .btn--red__download{
      font-size: 17px;
      img{
        top: 13px;
      }
    }
  }

  .col-md-db{
    display: block;
  }

  .bottom-index__section{
    padding-bottom: 44px;
  }

  .logo-block--footer {
    margin-top: 6px;
    width: 94px;
  }

  .footer__item--description{
    display: block;
    letter-spacing: normal;
  }

  .logo-block--footer span{
    top: 45px;
    font-size: 13px;
  }

  .footer-contacts{
    margin-left: 122px;
    font-size: 14px;
    margin-top: 15px;
    span{
      font-size: 13px;
      margin-top: 9px;
    }
  }

  .footer-lists{
    margin-top: 36px;
    ul{
      li{
        margin-bottom: 22px;
      }
    }
  }

  .top-footer{
    padding-bottom: 5px;
  }

  .footer-schedule{
    font-size: 14px;
    margin-top: 40px;
    margin-left: 122px;
    span{
      font-size: 13px;
    }
  }

  /*!INDEX*/








  /*BRANDS*/

  .brands-wrapper{
    display: none;
  }

  .brands-adaptive-slider{
    display: block;
    margin: 0 auto;
    width: 666px;
}

  .brands .brands-logo-items{
    padding-bottom: 10px;
  }

  .brands .brands-logo-items{
    padding-top: 26px;
  }

  .brand-block-text{
    padding-bottom: 23px;
    padding-top: 0px;
  }

  .brands-adaptive-slider .slick-dots {
    bottom: -209px;
  }

  /*!BRANDS*/






  /*CLIENTS*/

  .breadcrumbs-list{
    margin-top: 5px;

  }

  .page-tittle {
    margin-left: -12px;
    margin-top: 22px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #333333;
    margin-bottom: 34px;
  }

  .gray-section--clients a {
    margin-top: 11px;
    cursor: pointer;
    width: 335px;
    padding-right: 33px;
    padding-left: 19px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #ba352b;
    border: solid 1px #ba352b;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-right: 0px;
    margin-bottom: 14px;
  }

  .tabs-flex{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gray-section {
    width: 100%;
    height: 192px;
    background-color: #f9f9f9;
    margin-bottom: 46px;
  }

  .terms-of-cooperation h2{
    font-size: 18px;
    margin-bottom: 24px;
  }

  .terms-of-cooperation h3{
    margin-bottom: 27px;
  }

  .terms-of-cooperation p{
    margin-bottom: 25px;
    font-size: 18px;
  }

  .terms-of-cooperation span {
    font-weight: bold;
    display: block;
    margin-top: 28px;
    font-size: 18px;
    margin-bottom: 25px;
  }

  .terms-of-cooperation--bottom__flex{
    flex-wrap: wrap;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item{
    flex-basis: 100%;
  }

  .terms-of-cooperation--bottom__h2{
    font-size: 24px!important;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item{
    margin-top: 8px;
    margin-bottom: 34px;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item h2{
    font-size: 23px;
    margin-top: 8px;
  }

  .terms-of-cooperation--bottom__flex .terms-of-cooperation--bottom--item ul{
    font-size: 20px;
  }

  .terms-of-cooperation--bottom{
    margin-bottom: 37px;
  }

  .delivery h2{
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .delivery h3{
    margin-bottom: 24px;
    font-size: 19px;
  }

  .delivery p{
    font-size: 18px;
  }

  .gray-section--clients{
    width: 100%;
    height: 200px;
    background-color: #f9f9f9;
    margin-bottom: 46px;
  }


  /*!CLIENTS*/


  /*BRANDS-INDEX*/

  .gray-section-brands-index {
    width: 100%;
    height: 17px;
    background-color: #f9f9f9;
    margin-bottom: 46px;
  }

  .brand-description-block p{
    font-size: 17px;
    margin-top: 32px;
  }

  /*!BRANDS-INDEX*/

  /*AUTORISATION*/

  .autorisation-page-tittle{
    text-align: center;
    margin-left: 0px;
    margin-top: 26px;
  }

  .autorisation-block h2{
    margin-top: 27px;
    font-size: 20px;
  }

  .autorisation-page-tittle:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 65px;
    background-color: #e1e1e1;
    bottom: -31px;
    right: 45%;
  }

  .autorisation-block .autorisation-social .autorisation-social--item {
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 41px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 204px;
    height: 41px;
    border-radius: 25px;
  }

  .autorisation-block .autorisation-social{
    padding-left: 10px;
    padding-right: 10px;
  }

  .autorisation-block h3 {
    margin-top: 37px;
    margin-bottom: 34px;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }

  .autorisation-block .auto-form {
    padding-right: 141px;
    padding-left: 142px;
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  .autorisation-block .auto-form ul li span{
    font-size: 20px;
  }

  .autorisation-block .auto-form ul li{
    margin-bottom: 69px;
  }

  .autorisation-block .auto-form a {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    text-decoration: none;
    margin-top: 15px;
  }

  .btn--red__enter {
    font-size: 16px;
    padding-left: 61px;
    padding-right: 61px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .proposal-for-registration a {
    margin-right: 118px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #a02d25;
    text-decoration: none;
    position: relative;
    margin-top: 9px;
  }

  .proposal-for-registration-h2 {
    margin-left: 123px;
    margin-top: 25px;
    font-size: 20px;
  }

  .proposal-for-registration{
    margin-bottom: 30px;
  }



  /*!AUTORISATION*/


  /*PRODUCT-INDEX*/

  .sliders{
    margin-top: 72px;
    height: 100%;
  }

  .sliders .slider-for {
    height: 98.7%;
    margin-left: 9px;
    width: 70%;
    padding: 68px 15px;
    padding-bottom: 85px;
    border: 1px solid #ba352b;
  }

  .sliders .slider-nav .slick-slide{
    width: 155px!important;
  }

  .characteristics {
    margin-top: 21px;
    margin-right: 18px;
    height: 98.7%;
    margin-left: 9px;
    transform: translate(0%, 0%);
    border: solid 1px #ba352b;
    padding-top: 32px;
    padding-left: 48px;
    padding-right: 25px;
    padding-bottom: 73px;
  }

  .characteristics h2{
    font-size: 20px;
  }

  .characteristics .characteristics-list {
    padding-left: 0px;
    list-style: none;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-top: 59px;
    margin-bottom: 29px;
  }
  .characteristics .characteristics-list span {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }
  .characteristics h3 {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-bottom: 10px;
    margin-top: 51px;
  }

  .characteristics .characteristics-text {
    margin-top: 12px;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .product-descr-text {
    margin-top: 78px;
    margin-bottom: 23px;
    margin-left: -14px;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .download-catalog-product {
    margin-left: -14px;
    margin-bottom: 0px;
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #a02d25;
    border-bottom: solid 1px #a02d25;
  }

  .back-button-col {
    margin-bottom: 78px;
    margin-top: 22px;
    text-align: center;
    padding-top: 8px;
  }
  .back-button-col{
    margin-bottom: 45px;
  }


  /*!PRODUCT-INDEX*/


  /*CATALOG*/
  .search-result__block{
    display: none;
  }
  .search-result-slider{
    display: block;
    margin-top: 52px;
  }

  .gray-section--serch{
    height: 17px!important;
  }

  .search-result-slider .search-result__item {
    margin-right: 20px;
    position: relative;
    border: solid 1px #ba352b;
    margin-left: 20px;
    margin-bottom: 17px;
    padding-top: 21px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 44px;
    span{
      font-size: 15px;
    }
  }

  .search-result-slider{
    width: 690px;
  }

  .search-result-slider .search-result__item .search-result__item--text{
    font-size: 18px;
  }

  .search-result-slider .search-result__item img {
    width: 100%;
    margin-bottom: 47px;
  }

  .slick-dots li{
    width: 6px;
    height: 6px;
  }
  /*!CATALOG*/


  /*NEWS*/

  .gray-section-news{
    height: 17px;
  }

  .news-block{
    display: none;
  }

  .news-block-slider{
    display: block;
  }

  .news-block-slider{
    width: 690px;
    margin: 0 auto;
    .news-item{
      position: relative;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 48px;
      .news-item__text{
        margin-top: 35px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
      }
      span{
        margin-top: 17px;
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: #8d8d8d;
      }
      h3{
        top: 207px;
        position: absolute;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.19;
        letter-spacing: -1px;
        text-align: right;
        color: #a02d25;
        right: 0px;
      }
      img{
        display: inline-block;
        width: 100%;
      }
    }
  }

  .more-ads{
    margin-bottom: 26px;
  }

  /*!NEWS*/


  /*ABOUT*/

  .about-gray-section{
    height: 17px;
  }

  .item-great-tittle{
    font-size: 21px;
    margin-bottom: 41px;
  }

  .roman-numerals {
    text-align: center;
    width: 44px;
    position: relative;
    display: inline-block;
    font-family: 'Times';
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #333333;
    border-left: solid 4px #ba352b;
    border-right: solid 4px #ba352b;
    height: 48px;
    line-height: 48px;
  }

  .advantages .advantages-item .adv-item-content {
    margin-top: 14px;
    margin-left: 69px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .advantages .advantages-item:nth-child(odd) {
    margin-right: 27px;
  }

  .advantages .advantages-item .adv-item-content {
    margin-bottom: 0px;
    margin-top: 14px;
    margin-left: 69px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .advantages .advantages-item:nth-child(4) {
    margin-bottom: 69px;
  }

  .managment{
    display: none;
  }

  .managment-slider{
    display: block;
  }

  .managment-slider .managment-item{
    margin-right: 10px;
    margin-left: 10px;
  }

  .managment-slider .managment-item span{
    margin-top: 32px;
  }

  .managment-slider .managment-item h3{
    margin-top: 46px;
  }

  /*!ABOUT*/


  /*CONTACTS*/

  .gray-section--staff{
    width: 100%;
    height: 17px;
    background-color: #f9f9f9;
    margin-bottom: 46px;
  }

  .staff{
    display: none;
  }

  .staff-slider{
    display: block;
  }

  .staff-slider .staff-item {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    border-left: solid 4px #ba352b;
    border-right: solid 4px #ba352b;
    padding-left: 14px;
    padding-right: 14px;
    -ms-flex-preferred-size: 32.5%;
    flex-basis: 32.5%;
    margin-bottom: 35px;
    margin-top: 2px;
  }

  .staff-form form .small-staff-message{
    margin-bottom: 19px!important;
  }

  .staff-form form .great-staff-message{
    position: initial;
    margin-top: 19px;
  }



  /*!CONTACTS*/




}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

  .contacts span {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-top: 3px;
    display: inline-block;
  }
  .schedule span {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-top: 3px;
    display: inline-block;
  }
  .top-header__btn--red {
    padding: 13px 16px 14px;
    margin-top: 24px;
  }

  .btn{
    font-size: 12px;
  }

  .main-nav ul li a {
    padding-bottom: 18px;
    padding-left: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    padding-right: 25px;
    padding-top: 20px;
  }
  .top-header__btn--transparent {
    margin-top: 24px;
    margin-left: -15px;
    color: #a02d25;
    position: relative;
    padding-left: 52px;
  }
  .sub-nav {
    background-color: #333333;
    width: 565px;
    height: 101.7%;
    position: absolute;
    left: -15px;
    border-bottom: 12px solid #a02d25;
  }
  .brands .brands-logo-items a {
    margin-right: 15px;
  }

  .descr-block h3 {
    margin: 0px 20px;
    line-height: 108px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
  }
  .about-us-block {
    margin-top: 72px;
    margin-left: 27px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
  }
  .advantages .advantages-item {
    -ms-flex-preferred-size: 48%;
    flex-basis: 47%;
    margin-bottom: 23px;
  }
  .advantages .advantages-item .adv-item-content{
    font-size: 14px;
  }
  .adv-item-content--list li{
    font-size: 14px;
  }
  .item-great-tittle{
    font-size: 18px;
  }
  .managment .managment-item h3{
    font-size: 15px;
    margin-top: 60px;
  }


  .brand-description-block p{
    font-size: 13px;
  }

  .brand-logo-additions a{
    font-size: 14px;
  }

  .news-block .news-item h3{
    margin-top: -11px;
  }

  .news-block .news-item .news-item__text{
    font-size: 13px;
  }

  .staff .staff-item h2{
    font-size: 14px;
  }

  .staff .staff-item h3{
    font-size: 12px;
  }

  .staff .staff-item ul{
    font-size: 12px;
    padding-bottom: 20px;
  }

  .staff-form form .great-staff-message{
    width: 445px;
  }

  .footer-schedule span{
    font-size: 11px;
  }

  .autorisation-page-tittle:after{
    right: 435px;
  }

  .autorisation-block .autorisation-social .autorisation-social--item{
    width: 136px;
  }

  .top-index__section--left h1 span{
    font-size: 69px;
  }

  .top-index__section--img{
    left: 10px;
    position: absolute;
    width: 86%;
    top: 75px;
  }

  .sub-menu-items a{
    font-size: 13px;
  }

  .sub-menu-items a li{
    padding-left: 10px;
  }

  .sliders .slider-nav{
    width: 26%;
  }

  .characteristics {
    height: 98.7%;
    margin-left: 20px;
    /*-webkit-transform: translate(2.6%, 0%);
    -ms-transform: translate(2.6%, 0%);
    transform: translate(2.6%, 0%);*/
    border: solid 1px #ba352b;
    padding-top: 26px;
    padding-left: 42px;
    padding-right: 25px;
    padding-bottom: 30px;
  }

  .product-col{
    height: 100%;
  }

  .sliders .slider-for{
    padding-bottom: 75px;
  }

  .characteristics .characteristics-text{
    font-size: 14px;
  }



}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}

/*!MEDIA-QUERIES*/