/*AUTORISATION*/

.autorisation-page-tittle{
  position: relative;
  text-align: center;
  margin-left: 0px;
  margin-top: 7px;
  &:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 58px;
    background-color: #e1e1e1;
    bottom: -27px;
    right: 526px;
  }
}

.autorisation-block{
  margin: 0 auto;
  .auto-form{
    padding-right: 100px;
    padding-left: 100px;
    background-color: #f2f2f2;
    padding-top: 34px;
    padding-bottom: 28px;
    margin-bottom: 20px;
    text-align: center;
    a{
      display: inline-block;
      margin-bottom: 18px;
      font-size: 11px;
      font-weight: 500;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
      text-decoration: none;
    }
    ul{
      text-align: center;
      padding: 0px;
      list-style: none;
      margin-bottom: 8px;
      li{
        margin-bottom: 47px;
        position: relative;
        &:last-child{
          margin-top: 0px;
          margin-bottom: 0px;
        }
        span{
          top: -30px;
          transform: translate(-50%, 0%);
          left: 50%;
          position: absolute;
          font-size: 16px;
          font-weight: 500;
          font-style: italic;
          font-stretch: normal;
          line-height: 1.19;
          letter-spacing: normal;
          text-align: left;
          color: #333333;
        }
        input[type='email']{
          width: 100%;
          position: relative;
          border: none;
          height: 48px;
        }
        input[type='password']{
          width: 100%;
          border: none;
          height: 48px;
          position: relative;
        }
        input[type='text']{
          width: 100%;
          border: none;
          height: 48px;
          position: relative;
        }
        input[type='tel']{
          width: 100%;
          border: none;
          height: 48px;
          position: relative;
        }
      }
    }
  }
  h2{
    margin-top: 17px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #333333;
  }
  h3{
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
  .autorisation-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 25px;
    .autorisation-social--item{
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 36px;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      width: 171px;
      height: 36px;
      border-radius: 25px;
    }
    .autorisation-social--item__google{
      background-color: #d75339;
    }
    .autorisation-social--item__facebook{
      background-color: #5f78b2;;
    }
    .autorisation-social--item__vk{
      background-color: #56779c;
    }
  }
}

.proposal-for-registration{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 66px;
  h2{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    display: inline-block;
  }
  a{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #a02d25;
    text-decoration: none;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      background-color: #e1e1e1;
      width: 151px;
      bottom: -8px;
      left: 0px;
    }
  }
}

.btn--red__enter{
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  margin: 0 auto;
}



/*!AUTORISATION*/


/*AUTORISATION-RESET-PASSWORD*/

.reset-password{
  margin-bottom: 0px!important;
}

.reset-password--form{
  margin-bottom: 80px!important;
}

/*!AUTORISATION-RESET-PASSWORD*/

/*REGISTRATION*/

.autorisation-block{
  .checkbox-autorisation{
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 26px;
    input[type='checkbox']{
      display: none;
      &:checked{
        &~.custom-checkbox-autorisation{
          &:after{
              background-repeat: no-repeat;
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.535 16.549'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 { fill: %23a02d25; } %3C/style%3E%3C/defs%3E%3Cg id='tick' transform='translate(0 -67.998)'%3E%3Cg id='Group_77' data-name='Group 77' transform='translate(0 67.997)'%3E%3Cpath id='Path_404' data-name='Path 404' class='cls-1' d='M22.2,68.328a1.127,1.127,0,0,0-1.593,0l-13.5,13.5L1.923,76.638A1.127,1.127,0,0,0,.33,78.231l5.986,5.985a1.127,1.127,0,0,0,1.593,0l14.3-14.3A1.127,1.127,0,0,0,22.2,68.328Z' transform='translate(0 -67.997)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          }
        }
      }
    }
    .custom-checkbox-autorisation{
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      background-color: #f2f2f2;
      margin-right: 17px;
      &:after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        top: 0px;
        right: 5px;
        left: 5px;
        bottom: 5px;
        transition: all linear .3s;
      }
    }
  }
}

.custom-checkbox-autorisation-text{
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.btn--red__registration{
  padding: 14px 30px 14px;
  display: block;
  margin: 0 auto;
  margin-bottom: 79px;
}

/*!REGISTRATION*/
